<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - DocNest</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@@picocss/pico/css/pico.min.css">
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li>
            <strong><a href="/" style="text-decoration:none;">DocNest</a></strong>
            <small style="margin-left:.5rem; opacity:.7;">Personal Document Tracker</small>
        </li>
    </ul>
    <ul>
        <li><a href="/documents">Documents</a></li>
        <li><a href="/documents/new" role="button">Add</a></li>
    </ul>
</nav>

<main class="container" style="padding-top: 1rem;">
    @RenderBody()
</main>
<footer class="container" style="padding-bottom:2rem;">
    <small>Demo UI • MVP-first</small>
</footer>
</body>
